.main-img{
    background-image: url(./assects/_hero-\(1\).jpg);
    width: 100%;
    height: 110vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   
}
@media screen and (max-width:768px) {
    .main-img{
        background-image: url(./assects/_hero\ \(5\).png);
        width: 100%;
        height: 110vh;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
       
    }
    
}
@font-face {
    font-family: "frances";
    src: url(./fonts/Fraunces-VariableFont_SOFT\,WONK\,opsz\,wght.ttf);
}
.main-img h2{
    font-family: "frances";
}
/* .footer-img{
    background-image: url(./assects/_head.png);
    width: 100%;
    object-fit: cover;
    background-repeat: no-repeat;
    background-size: cover;
   height: 30vh;
} */
 

